.modalContainer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
}

.modalHeader {
    height: 10%;
}

.modalName {
    height: 10%;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    outline: none;
}

.modalForm {
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
    border: none;
}

.modal {
    position: fixed;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    background-color: white;
    text-align: center;
}

.modalTextArea {
    min-width: 100%;
    max-width: 100%;
    min-height: 75%;
    max-height: 75%;
    margin-bottom: 1rem;
    outline: none;
}

.modalButton {
    display: inline-block;
    margin: 1rem;

    color: white;
    background-color: #5bc0de;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
}